<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

<script type="text/javascript">
function get() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
           // Typical action to be performed when the document is ready:
          console.log(xhttp.responseText);
        }
    };
    xhttp.open("GET", "https://4frq.com/ping.php", true);
    xhttp.send();
}

get();
</script>
  </body>

</html>
